.sidebar {
    background: linear-gradient(180deg, #000000 0%, rgba(15, 13, 15, 0.65) 100%);
    box-shadow: 4px 4px 4px rba(0, 0, 0, 0.25);
    height: 100%;
    width: 224px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}

.reset-button {
    all: unset;
    width: 160px;
    height: 52px;
    background: #F0C551;
    color: white;
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
}

.reset-button:hover {
    opacity: 0.8;
}